alpaca==1.0.0
alpaca-py==0.31.0
alpaca-trade-api==3.2.0
ccxt==4.4.2
exchange_calendars==3.6.3
gym==0.26.2
gym-notices==0.0.8
gymnasium==0.29.1
yfinance==0.2.41
importlib-metadata==4.13.0
jqdatasdk==1.9.6
matplotlib-inline==0.1.7
numpy==1.26.4
pandas==2.2.3
pre-commit==3.8.0
pyfolio-reloaded==0.9.7
Pygments==2.18.0
pyluach==2.2.0
Pympler==1.1
PyMySQL==1.1.1
pyparsing==3.1.2
pyportfolioopt @ git+https://github.com/robertmartin8/PyPortfolioOpt@29405192a927abf3a58403a15ee4c2bb31196624
pytest==8.3.2
ray==2.34.0
recommonmark==0.7.1
scikit-learn==1.5.1
scipy==1.12.0
scs==3.2.7
seaborn==0.13.2
setuptools==75.2.0
Sphinx==7.4.7
sphinx-rtd-theme==2.0.0
SQLAlchemy==2.0.32
sseclient-py==1.8.0
stable_baselines3==2.3.2
stockstats==0.6.2
streamlit==1.39.0
swig==4.2.1
tensorboard==2.17.0
wheel==0.44.0
wrds==3.2.0
